VITE_SUPABASE_URL= https://auzbecwawoejvlfszvdo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF1emJlY3dhd29lanZsZnN6dmRvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk5NTE1MzIsImV4cCI6MjA5NTUyNzUzMn0.E-Br-wHWSZ2CMfsNjfIeFNiou21tEP5T_MsIiYUKJWQ
